.container{
    // padding: 7rem 5rem;
}

.header{
    font-family: 'Raleway', sans-serif;
    margin-top: 6rem;
}
.navigation, .inner-wrapper, .footer__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 95%;
    max-width: 1440px;
    padding: 0 5rem;

    @media only screen and (max-width: $bp-lg) {
        padding: 0 3rem;
    }
    @media only screen and (max-width:$bp-sm-1) {
    width: 99%;
    }
    @media only screen and (max-width:$bp-xs) {
    width: 100%;
    padding: 2rem;
    }

}
.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.intro{
    background-image: url(../imgs/bg-curvy-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    padding-bottom: 19rem;

    @media only screen and (max-width:$bp-sm-1) {
        background-image: url(../imgs/bg-curvy-mobile.svg);
        padding-bottom: 0rem;

       }

}
.features{
    background-color: var(--bg-color-dark-blue-2);

    @media only screen and (max-width:$bp-sm-1) {
        // margin-top: -32rem;
        padding-top: 17rem;
       }
    @media only screen and (max-width:$bp-sm-2) {
        margin-top: -1rem;
       }

}
.footer{
    background-color: var(--bg-color-dark-blue-3);
    padding: 20rem 0 10rem 0;

    &__wrapper{
        align-items: flex-start;
    }
}
